.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.portfolio-item{
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio-item:hover{
    backdrop-filter: blur(5px);
    border-color: var(--color-primary);
    background: transparent;
}

.portfolio-item-image{
    border-radius: 1.5rem;
    overflow: hidden;
}

.portfolio-item h3{
    margin: 1.2rem 0 2rem;
}

/* media query for medium device */
@media screen and (max-width: 1024px){
    .portfolio-container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

/* media query for small device */
@media screen and (max-width: 600px){
    .portfolio-container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}